{% extends 'layouts/base.twig' %}

{% block content %}

	<section class="main search-page" id="main" role="main">

		<header class="block block__introduction bg--light-gray">
			<div class="wrapper">
				<h1 class="visually-hidden">{{visually_hidden_title}}</h1>
				<p class="subtitle">{{title}}</p>
			</div>
		</header>
		<section>
			<div class="block block__list">
				<ul class="list__inline">
					{% for post in posts %}
					<li class="block__list--item">
						<h2 class="block__list--title"><a href="{{ post.link }}">{{ post.title }}</a></h2>
						<time class="datetime" datetime="{{post.post_date|date('Y-m-d ')}}">{{post.post_date|date('Y-m-d ')}}</time>
						<div class="block__list--description">
							<p>{{ post.content }}
								{% if post.get_field('sections')[0]["introduction"] %}
									{{post.get_field('sections')[0]["introduction"]}}
									<br>
								{% endif %}
								{% if  post.get_field('lead_text') %}
									{{post.get_field('lead_text')}}
								{% endif %}
							</p>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
			{% if pagination.next or pagination.prev %}
				<nav>
					<ul>
						{% if pagination.next %}
						<li class="block__pagination--next">
							<a href="{{pagination.next.link}}" class="button button--icon-right button--primary">
								<span>{{__('Next page','site')}}</span>
								<svg class="icon icon-chevron-right"><use xlink:href="{{ theme.link }}/assets/img/icons.svg#chevron-right"></use></svg>

							</a>
						</li>
						{% endif %}
						{% if pagination.prev %}
							<li class="block__pagination--prev">
								<a href="{{pagination.prev.link}}" class="button button--icon-left button--primary">
									<svg class="icon icon-chevron-left"><use xlink:href="{{ theme.link }}/assets/img/icons.svg#chevron-left"></use></svg>
									<span>{{__('Previous page','site')}}</span>
								</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			{% endif %}

		</section>
	</section>
{% endblock %}
